{{- if lookPath "hugo" -}}
#!/bin/bash

{{ output "hugo" "version" | trim | comment "# " }}

echo -e "\033[0;34m==> Updating hugo completions...\033[0m"

hugo completion zsh >> "${ZDOTDIR}"/completions/generated/_hugo

{{ end -}}
