{{- if lookPath "poetry" -}}
#!/bin/bash

{{ output "poetry" "--version" | trim | comment "# " }}

echo -e "\033[0;34m==> Updating poetry completions...\033[0m"

poetry completions zsh >> "${ZDOTDIR}"/completions/generated/_poetry

{{ end -}}
