#!/bin/bash

{{ $arduino_cli_version := output "arduino-cli" "version" "--format" "json" | fromJson }}

# arduino-cli version: current-context: {{ get $arduino_cli_version "VersionString" }}

echo -e "\033[0;34m==> Updating arduino-cli completions...\033[0m"

arduino-cli completion zsh 2>/dev/null >"${ZDOTDIR}"/completions/generated/_arduino-cli
