{{- if lookPath "gh" -}}
#!/bin/bash

{{ output "gh" "--version" | trim | comment "# " }}

echo -e "\033[0;34m==> Updating gh completions...\033[0m"

gh completion --shell zsh >> "${ZDOTDIR}"/completions/generated/_gh

{{ end -}}
