#!/bin/bash

{{ if lookPath "poetry" }}
# Poetry version: current-context: {{ output "poetry" "--version" | trim }}

echo -e "\033[0;34m==> Updating poetry completions...\033[0m"

poetry completions zsh >> "${ZDOTDIR}"/completions/generated/_poetry
{{ end }}
