{{- if not (lookPath "nvim") -}}
#!/bin/bash

echo -e "\033[0;34m==> Installing Neovim...\033[0m"

NVIM_PATH="$HOME/.local/bin/nvim"

curl -fsSL https://github.com/neovim/neovim/releases/latest/download/nvim.appimage -o "${NVIM_PATH}"
chmod +x "${NVIM_PATH}"

{{ end -}}
