#!/bin/bash

{{ if lookPath "chezmoi" }}
# chezmoi version: current-context: {{ output "chezmoi" "--version" | trim }}

echo -e "\033[0;34m==> Updating chezmoi completions...\033[0m"

chezmoi completion zsh >> "${ZDOTDIR}"/completions/generated/_chezmoi
{{ end }}
