{{- if lookPath "chezmoi" -}}
#!/bin/bash

{{ output "chezmoi" "--version" | trim | comment "# " }}

echo -e "\033[0;34m==> Updating chezmoi completions...\033[0m"

chezmoi completion zsh >> "${ZDOTDIR}"/completions/generated/_chezmoi

{{ end -}}
