#!/bin/bash

{{ if lookPath "glab" }}
{{ output "glab" "version" | trim | comment "# " }}

echo -e "\033[0;34m==> Updating glab completions...\033[0m"

glab completion zsh >> "${ZDOTDIR}"/completions/generated/_glab
{{ end }}
