##### Always Ignore #####
**/.pytest_cache/

##### Arch Linux #####
{{ if or (ne .chezmoi.os "linux") (ne .chezmoi.osRelease.name "Arch Linux") }}
.config/paru
{{ end }}

##### MacOS #####
{{ if eq .chezmoi.os "darwin" }}
./.zsh/env/gnome_keyring.zsh
{{ end }}

##### Zsh #####
# ZSH Bytecode Files
**/*.zwc
# Generated ZSH Completions
.zsh/completions/generated/

##### Kitty #####
{{ if not (lookPath "kitty") }}
.config/kitty/
{{ end }}

##### Wezterm #####
{{ if not (lookPath "wezterm") }}
.config/wezterm/
{{ end }}

##### Bat #####
{{ if not (lookPath "bat") }}
.config/bat/
{{ end }}

##### Neovim #####
{{ if not (lookPath "nvim") }}
.config/nvim/
{{ end }}

##### NPM #####
{{ if not (lookPath "npm") }}
.config/npm/
{{ end }}

##### ZSH #####
{{ if not (lookPath "zsh") }}
.zsh/
.zshenv
{{ end }}

##### Atuin #####
{{ if not (lookPath "atuin") }}
.config/atuin/
{{ end }}
