{{- if (lookPath "xdg-open") -}}
alias open="xdg-open"
{{ end -}}
{{- if (lookPath "eza") -}}
alias ls="eza -GahF --git"
{{ end -}}
{{- if (lookPath "bat") -}}
alias cat="bat"
{{ end -}}
{{- if (lookPath "nvim") -}}
alias nv="nvim"
{{ end -}}
