theme = OneHalfDark

{{- if and (eq .chezmoi.os "linux") (eq (output "printenv" "XDG_CURRENT_DESKTOP" | trim) "KDE") }}
window-decoration = server
{{- end }}

# Nerd Fonts Symbols v3.3.0
# See https://github.com/ryanoasis/nerd-fonts/wiki/Glyph-Sets-and-Code-Points

# Seti-UI + Custom
font-codepoint-map = U+E5FA-U+E6B7 = Symbols Nerd Font Mono
# Devicons
font-codepoint-map = U+E700-U+E8EF = Symbols Nerd Font Mono
# Font Awesome
font-codepoint-map = U+ED00-U+F2FF = Symbols Nerd Font Mono
# Font Awesome Extension
font-codepoint-map = U+E200-U+E2A9 = Symbols Nerd Font Mono
# Material Design Icons
font-codepoint-map = U+F0001-U+F1AF0 = Symbols Nerd Font Mono
# Weather
font-codepoint-map = U+E300-U+E3E3 = Symbols Nerd Font Mono
# Octicons
font-codepoint-map = U+F400-U+F533,U+2665,U+26A1 = Symbols Nerd Font Mono
# Powerline Symbols
font-codepoint-map = U+E0A0-U+E0A2,U+E0B0-U+E0B3 = Symbols Nerd Font Mono
# Powerline Extra Symbols
font-codepoint-map = U+E0A3,U+E0B4-U+E0C8,U+E0CA,U+E0CC-U+E0D7 = Symbols Nerd Font Mono
# IEC Power Symbols
font-codepoint-map = U+23FB-U+23FE,U+2B58 = Symbols Nerd Font Mono
# Font Logos
font-codepoint-map = U+F300-U+F381 = Symbols Nerd Font Mono
# Pomicons
font-codepoint-map = U+E000-U+E00A = Symbols Nerd Font Mono
# Codicons
font-codepoint-map = U+EA60-U+EC1E = Symbols Nerd Font Mono
