{{- $templateFiles := glob ( joinPath .chezmoi.sourceDir ".chezmoitemplates" "zsh" "rc" "**" "*.tmpl" ) -}}
{{- range $templateFiles }}
{{- $content := includeTemplate . $ | trim -}}
{{- if $content }}
#### File: {{ base . }}
{{ $content }}
{{ end }}
{{- end }}

# Bootstrap Zinit
source "$ZDOTDIR/plugins-bootstrap.zsh"

autoload -Uz promptinit && promptinit
prompt powerlevel10k

# Don't perform a path search even on command names with slashes in them
# See PATH_DIRS in: https://zsh.sourceforge.io/Doc/Release/Options.html
unsetopt pathdirs
