<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.tjquillan.ssh-add-keychain</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/ssh-add</string>
      <string>--apple-load-keychain</string>
      <string>-q</string>
    </array>

    <key>RunAtLoad</key>
    <true />

    <key>StandardOutPath</key>
    <string>/tmp/com.tjquillan.ssh-add-keychain.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.tjquillan.ssh-add-keychain.err</string>
  </dict>
</plist>