# Disable Analytics
export HOMEBREW_NO_ANALYTICS=1

# Disable Hints
HOMEBREW_NO_ENV_HINTS=1

# Disable Cask Quarantine
export HOMEBREW_CASK_OPTS="--no-quarantine"

{{ if lstat "/opt/homebrew/bin/brew" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}
